!!! 5
html(lang="en")
head
    title Project HARPER
    link(rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}")
    script(src="{{ url_for('static', filename='dist/bundle.js') }}")

body
    .page
        h1 Project H.A.R.P.E.R
        each message in get_flashed_messages()
            .flash {{ message }}
        block content


